<header class="d-flex justify-content-between header">
  <div class="header__logo">
    <img src="./assets/icons/slo-logo.PNG" alt="logo" class="header__logo-img">
  </div>
  <div class="header__sign-in">
    already using?
    <button class="header__sign-in-btn">
      Sign in
    </button>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="left-content">
        <h1 class="left-content__header">
          Create an account
        </h1>
        <div class="left-content__list list">
          <div class="list__item d-flex justify-content-start">
            <div class="list__item-icon">
              <img src="./assets/icons/secure.PNG" alt="icon">
            </div>
            <span>
              Secure payments through reliable partners
            </span>
          </div>
          <div class="list__item d-flex justify-content-start">
            <div class="list__item-icon">
              <img src="./assets/icons/lightning.PNG" alt="icon">
            </div>
            <span>
              Fast transfers
            </span>
          </div>
          <div class="list__item d-flex justify-content-start">
            <div class="list__item-icon">
              <img src="./assets/icons/percent.PNG" alt="icon">
            </div>
            <span>
              Fair commissions
            </span>
          </div>
          <div class="list__item d-flex justify-content-start">
            <div class="list__item-icon">
              <img src="./assets/icons/beat.PNG" alt="icon">
            </div>
            <span>
              Best available rates
            </span>
          </div>
          <div class="list__item d-flex justify-content-start">
            <div class="list__item-icon">
              <img src="./assets/icons/thumb.PNG" alt="icon">
            </div>
            <span>
              Convenience
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="right-content">
        <app-sign-up-form></app-sign-up-form>
      </div>
    </div>
  </div>
</div>
