@import "../../../assets/scss/_variables.scss";

.header{
  padding: 50px;
  border-bottom: 1px solid $app-lightgray;

  &__logo-img{
    width: 50px;
  }

  &__sign-in-btn{
    border: 0;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    color: $app-purple;
    font-weight: bold;
  }
}

.left-content{
  padding-top: 100px;

  &__header{
    font-size: 50px;
    font-weight: bold;
    width: 300px;
    line-height: 1.2;
  }

}

.list{
  &__item{
    padding-top: 25px;

    span{
      width: 250px;
      font-size: 18px;
      padding-left: 16px;
    }
  }

  &__item-icon{
    img{
      width: 20px;
    }
  }
}

.right-content{
  margin-top: 106px;
}
